{% extends "base.html" %}

{% block content %}
    <div class="post">
        {% if post.created_date %}
            <div class="date">
                {{ post.created_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}-{{post.author}}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
    {% for comment in comments %}
        <div class="post">
            <div class="date">
                {{ comment.post_date }}
            </div>
            <h4>Author:{{comment.author.first_name}}</h4>
            <h5>{{ comment.text|linebreaks }}</h5>
        </div>
    {% endfor %}
    
    {% if user.is_authenticated %}
    <h3>New Comment</h3>
    <form method="POST" action="/add_comment/{{post.id}}">
    {% csrf_token %}
        <input type="text" name="text"> Comment Here </input>
        <br>
        <br>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {% endif %}
{% endblock %}